/* Estilos para el modal de error */
.modal {
  display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background-color:white;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
    
}
.error-model p{
  font-size:1.5em;
  color: #ff6868;
}
.close{
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para marcar en rojo cuando el stock es 0 */
.low-stock {
  background-color: red;
}
