.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
  }

  #confirmDeleteButton {
    background-color: red;
    color: white;
  }

  #cancelDeleteButton {
    background-color: gray;
    color: white;
  }
 
/* Contenido del modal */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Centra el modal en la pantalla */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  max-width: 500px; /* Ancho máximo del modal */
  border-radius: 8px; /* Bordes redondeados */
}

/* Botón de cierre del modal */
.modal .close, .modal .close-update {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover, .modal .close-update:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Botones del modal */
.modal-content button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content #confirmDeleteButton, .modal-content #confirmUpdateButton {
  background-color: #4CAF50; /* Verde para confirmar */
  color: white;
}

.modal-content #cancelDeleteButton {
  background-color: #f44336; /* Rojo para cancelar */
  color: white;
}

.modal-content button:hover {
  opacity: 0.8;
}

